@page "/specialoffers"

<h1>Special Offers</h1>

<CascadingValue Name="DealName" Value="@test">
    <hr>
    <DealName></DealName>
</CascadingValue>

@code {
    private string test = "Something to be proud of :D";
}